<!DOCTYPE html>
<html>

<head>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- <script type="module" src="./file.js"></script> -->
    <script src="./main.js"></script>
</head>

<body>
    <h1>test</h1>
    <div id="app">
        <div v-if="isVisible">
            <button v-bind:id="testId" v-bind:disabled="isButtonDisabled">Button for testing v-bind:disable and id atr</button>
            <div v-html="someHtml">
            </div>
            <div>
                <span v-once>{{ message }} - vlue from data.message</span>
            </div>
            <input v-model="message">
            <button v-on:click="myFunction">Reverse</button>
            <button v-on:click="reverseMessage">Reverse</button>
            <div>
                <span v-bind:title="message">Test1</span>
            </div>
            <div>
                <span v-bind:title="message2">Test2</span>
            </div>
            <div>
                <span v-bind:title="messageB">Test3</span>
            </div>
            <div>
                <span v-bind:title="title">Test4</span>
            </div>
        </div>
        <div>
            <span>planets</span>
            <ol>
                <planet-info v-for="planet in planets" v-bind:planet="planet" v-bind:key="planet.id"></planet-info>
            </ol>
        </div>
    </div>
</body>

</html>